<div *ngIf="!list">
    <span #loading>
        <ng-content select="[loading]"></ng-content>
    </span>
    <span *ngIf="!loading.innerHTML.trim()">
        <img src="https://media.tenor.com/images/a742721ea2075bc3956a2ff62c9bfeef/tenor.gif" />
    </span>
</div>

<div *ngIf="list?.length === 0">
    <span #empty>
        <ng-content select="[empty]"></ng-content>
    </span>
    <span *ngIf="!empty.innerHTML.trim()">
        There are no records to display
    </span>


</div>

<div *ngIf="list?.length > 0">
    <ng-content select="[content]"></ng-content>
</div>